.contact {
    text-align: center;
    padding: 4rem;
    background: #121212;
  }
  
  .contact h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #f0f0f0;
    animation: fadeInSlide 0.8s ease-out;
  }

  .contact p {
    font-size: 1rem;
    color: #f0f0f0;
    animation: fadeInSlide 0.8s ease-out;
  }
  
  .contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact input,
  .contact textarea {
    width: 100%;
    max-width: 400px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .contact button {
    padding: 0.75rem 1.5rem;
    color: #fff;
    background: #007BFF;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .contact button:hover {
    background: #0056b3;
  }

  .brand-icon1 {
    width: 240px; /* Adjusted for balance */
    height: 240px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    animation: fadeInSlide 0.8s ease-out;
  }

  .jotform {
    animation: fadeInSlide 0.8s ease-out;
  }
  